<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#d6b7a7" d="M390,419.87s0-15,15-15,15,15,15,15v30H390Z"/>
    <rect fill="#ffd8c2" x="390" y="449.87" width="30" height="30"/>
    <rect fill="#d3d3d3" x="360" y="479.87" width="30" height="30"/>
    <rect fill="#d3d3d3" x="420" y="479.87" width="30" height="30"/>
    <path d="M390,479.87v-30H330v30s-14.4,0-14.4,15,14.4,15,14.4,15h30v-30Z"/>
    <polygon points="420 479.87 390 479.87 390 509.87 360 509.87 360 539.87 360 569.87 390 569.87 420 569.87 450 569.87 450 539.87 450 509.87 420 509.87 420 479.87"/>
    <path d="M480,479.87v-30H420v30h30v30h30s15,0,15-15S480,479.87,480,479.87Z"/>
    <polygon fill="#00333f" points="420 569.87 390 569.87 360 569.87 360 599.87 390 599.87 420 599.87 450 599.87 450 569.87 420 569.87"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path fill="#00333f" d="M435,705.19c-14.4,0-15,15-15,15V839.87h30V720.19S449.4,705.19,435,705.19Z"/>
        <polygon fill="#5b3d22" points="450 869.87 450 839.87 420 839.87 420 869.87 420 899.87 450 899.87 480 899.87 480 869.87 450 869.87"/>
      <%= character_part :foot, :left %>
      <path fill="#00333f" d="M435,584.87c-15,0-15,15-15,15v120s.6,15,15,15,15-15,15-15v-120S450,584.87,435,584.87Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path fill="#00333f" d="M375,705.19c-14.4,0-15,15-15,15V839.87h30V720.19S389.4,705.19,375,705.19Z"/>
        <polygon fill="#5b3d22" points="360 839.87 360 869.87 330 869.87 330 899.87 360 899.87 390 899.87 390 869.87 390 839.87 360 839.87"/>
      <%= character_part :foot, :right %>
      <path fill="#00333f" d="M375,584.87c-15,0-15,15-15,15v120s.6,15,15,15,15-15,15-15v-120S390,584.87,375,584.87Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path d="M300,539.87s0-15,15-15,15,15,15,15v30H300Z"/>
        <rect fill="#ffd8c2" x="300" y="569.87" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon points="300 479.87 300 509.87 300 539.87 330 539.87 330 509.87 330 479.87 300 479.87"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :right, [:swimming] %>
        <path d="M480,539.87s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#ffd8c2" x="480" y="569.87" width="30" height="30"/>
      <%= character_part :hand, :right %>
      <polygon points="480 479.87 480 509.87 480 539.87 510 539.87 510 509.87 510 479.87 480 479.87"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <polygon points="480 149.87 480 119.87 450 119.87 420 119.87 390 119.87 360 119.87 330 119.87 330 149.87 300 149.87 300 179.87 300 209.87 300 239.87 300 269.87 330 269.87 330 239.87 330 209.87 330 179.87 360 179.87 390 179.87 420 179.87 450 179.87 480 179.87 480 209.87 480 239.87 480 269.87 510 269.87 510 239.87 510 209.87 510 179.87 510 149.87 480 149.87"/>
      <rect x="330" y="269.87" width="30" height="30"/>
      <rect x="450" y="269.87" width="30" height="30"/>
      <rect fill="#f9b08c" x="270" y="299.87" width="30" height="30"/>
      <rect fill="#d6b7a7" x="390" y="299.87" width="30" height="30"/>
      <rect fill="#f9b08c" x="510" y="299.87" width="30" height="30"/>
      <rect x="390" y="329.87" width="30" height="30"/>
      <polygon fill="#ffd8c2" points="510 269.87 480 269.87 480 299.87 450 299.87 450 269.87 480 269.87 480 239.87 480 209.87 480 179.87 450 179.87 420 179.87 390 179.87 360 179.87 330 179.87 330 209.87 330 239.87 330 269.87 360 269.87 360 299.87 330 299.87 330 269.87 300 269.87 270 269.87 270 299.87 300 299.87 300 329.87 330 329.87 360 329.87 360 359.87 390 359.87 390 329.87 390 299.87 420 299.87 420 329.87 420 359.87 450 359.87 450 329.87 480 329.87 510 329.87 510 299.87 540 299.87 540 269.87 510 269.87"/>
      <rect fill="#fff" x="390" y="359.87" width="30" height="30"/>
      <polygon points="450 329.87 450 359.87 420 359.87 420 389.87 390 389.87 390 359.87 360 359.87 360 329.87 330 329.87 330 359.87 330 389.87 330 419.87 360 419.87 390 419.87 420 419.87 450 419.87 480 419.87 480 389.87 480 359.87 480 329.87 450 329.87"/>
    <%= character_part :head %>
  </svg>
</div>
