<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#f9c5af" d="M390,480.64s0-15,15-15,15,15,15,15v30H390Z"/>
    <rect fill="#d6d6d6" x="390" y="540.64" width="30" height="30"/>
    <polygon fill="#fff" points="360 540.64 360 570.64 390 570.64 390 540.64 390 510.64 360 510.64 360 540.64"/>
    <polygon fill="#fff" points="420 510.64 420 540.64 420 570.64 450 570.64 450 540.64 450 510.64 420 510.64"/>
    <polygon fill="#a6d9e2" points="390 570.64 390 600.64 390 630.64 420 630.64 420 600.64 420 570.64 390 570.64"/>
    <path fill="#b6f1ff" d="M360,510.64H330v30s-14.4,0-14.4,15,14.4,15,14.4,15h30v-60Z"/>
    <path fill="#b6f1ff" d="M480,540.64v-30H450v60h30s15,0,15-15S480,540.64,480,540.64Z"/>
    <polygon fill="#b6f1ff" points="360 600.64 360 630.64 390 630.64 390 600.64 390 570.64 360 570.64 360 600.64"/>
    <polygon fill="#b6f1ff" points="420 600.64 420 630.64 450 630.64 450 600.64 450 570.64 420 570.64 420 600.64"/>
    <polygon points="420 630.64 390 630.64 360 630.64 360 660.64 390 660.64 420 660.64 450 660.64 450 630.64 420 630.64"/>
    <rect fill="#ffd8c2" x="390" y="510.64" width="30" height="30"/>
    <polygon fill="#b6f1ff" points="300 540.64 300 570.64 300 600.64 330 600.64 330 570.64 330 540.64 300 540.64"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path d="M435,735.56c-14.4,0-15,15-15,15v89.68h30V750.56S449.4,735.56,435,735.56Z"/>
        <polygon fill="#ffad69" points="450 870.24 450 840.24 420 840.24 420 870.24 420 900.24 450 900.24 480 900.24 480 870.24 450 870.24"/>
      <%= character_part :foot, :left %>
      <path d="M435,645.64c-15,0-15,15-15,15v89.61s.6,15,15,15,15-15,15-15V660.64S450,645.64,435,645.64Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path d="M375,735.56c-14.4,0-15,15-15,15v89.68h30V750.56S389.4,735.56,375,735.56Z"/>
        <polygon fill="#ffad69" points="360 840.24 360 870.24 330 870.24 330 900.24 360 900.24 390 900.24 390 870.24 390 840.24 360 840.24"/>
      <%= character_part :foot, :right %>
      <path d="M375,645.64c-15,0-15,15-15,15v89.61s.6,15,15,15,15-15,15-15V660.64S390,645.64,375,645.64Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#b6f1ff" d="M480,600.64s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#ffd8c2" x="480" y="630.64" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#b6f1ff" points="480 540.64 480 570.64 480 600.64 510 600.64 510 570.64 510 540.64 480 540.64"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#b6f1ff" d="M300,600.64s0-15,15-15,15,15,15,15v30H300Z"/>
        <rect fill="#ffd8c2" x="300" y="630.64" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#b6f1ff" points="300 540.64 300 570.64 300 600.64 330 600.64 330 570.64 330 540.64 300 540.64"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <rect x="330" y="330.64" width="30" height="30"/>
      <rect x="450" y="330.64" width="30" height="30"/>
      <rect fill="#f9b08c" x="270" y="360.64" width="30" height="30"/>
      <rect fill="#f9c5af" x="390" y="360.64" width="30" height="30"/>
      <rect fill="#f9b08c" x="510" y="360.64" width="30" height="30"/>
      <rect fill="#fff" x="390" y="420.64" width="30" height="30"/>
      <polygon fill="#ffd8c2" points="480 330.64 480 360.64 450 360.64 450 330.64 480 330.64 480 300.64 480 270.64 480 240.64 450 240.64 420 240.64 390 240.64 360 240.64 330 240.64 330 270.64 330 300.64 330 330.64 360 330.64 360 360.64 330 360.64 330 330.64 300 330.64 300 360.64 300 390.64 330 390.64 360 390.64 360 420.64 360 450.64 390 450.64 390 420.64 390 390.64 390 360.64 420 360.64 420 390.64 420 420.64 420 450.64 450 450.64 450 420.64 450 390.64 480 390.64 510 390.64 510 360.64 510 330.64 480 330.64"/>
      <polygon fill="#3d2c0f" points="540 210.64 540 180.64 540 150.64 510 150.64 510 120.64 480 120.64 450 120.64 450 90.64 420 90.64 390 90.64 360 90.64 330 90.64 330 120.64 300 120.64 300 150.64 270 150.64 270 180.64 270 210.64 240 210.64 240 240.64 240 270.64 240 300.64 240 330.64 240 360.64 270 360.64 300 360.64 300 330.64 330 330.64 330 300.64 330 270.64 330 240.64 360 240.64 390 240.64 420 240.64 450 240.64 480 240.64 480 270.64 480 300.64 480 330.64 510 330.64 510 360.64 540 360.64 570 360.64 570 330.64 570 300.64 570 270.64 570 240.64 570 210.64 540 210.64"/>
      <rect fill="#3d2c0f" x="390" y="390.64" width="30" height="30"/>
      <polygon fill="#3d2c0f" points="450 390.64 450 420.64 450 450.64 420 450.64 390 450.64 360 450.64 360 420.64 360 390.64 330 390.64 300 390.64 300 420.64 330 420.64 330 450.64 330 480.64 360 480.64 390 480.64 420 480.64 450 480.64 480 480.64 480 450.64 480 420.64 510 420.64 510 390.64 480 390.64 450 390.64"/>
    <%= character_part :head %>
  </svg>
</div>
