<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" width="630" height="810" viewBox="0 0 630 810">
    <g fill="none" transform="translate(180 149)">
      <path fill="#D6B7A7" d="M120,300.52 C120,300.52 120,285.46 135,285.46 C150,285.46 150,300.52 150,300.52 L150,330.52 L120,330.52 L120,300.52 Z"/>
      <polygon fill="#700B00" points="90 330.49 90 360.49 90 390.49 90 420.49 120 420.49 120 390.49 120 360.49 120 330.49 120 300.49 90 300.49"/>
      <polygon fill="#700B00" points="150 300.49 150 330.49 150 360.49 150 390.49 150 420.49 180 420.49 180 390.49 180 360.49 180 330.49 180 300.49"/>
      <path fill="#D6D6D6" d="M90 360.49L90 330.49 60 330.49 60 360.49C60 360.49 45 360.49 45 375.49 45 390.49 60 390.49 60 390.49L90 390.49 90 360.49zM210 360.49L210 330.49 180 330.49 180 390.49 210 390.49C210 390.49 225 390.49 225 375.49 225 360.49 210 360.49 210 360.49z"/>
      <rect width="30" height="30" x="90" y="420.49" fill="#D6D6D6"/>
      <rect width="30" height="30" x="150" y="420.49" fill="#D6D6D6"/>
      <polygon fill="#000" points="210 510.43 210 480.43 180 480.43 180 450.49 150 450.49 150 420.49 150 390.49 150 360.49 150 330.49 120 330.49 120 360.49 120 390.49 120 420.49 120 450.49 90 450.49 90 480.43 60 480.43 60 510.4 30 510.4 30 540.4 60 540.4 90 540.4 90 540.43 120 540.43 150 540.43 180 540.43 210 540.43 240 540.43 240 510.43"/>

      <g fill="#000" transform="translate(60 465)">
        <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
          <g transform="translate(0 60)">
            <%= character_part :foot, :left, [:swimming] %>
              <path d="M45,0.49 C30.6,0.49 30,15.49 30,15.49 L30,105.49 L0,105.49 L0,135.49 L60,135.49 L60,15.49 C60,15.49 59.4,0.49 45,0.49 Z"/>
              <path d="M45,0.49 C30.6,0.49 30,15.49 30,15.49 L30,105.49 L0,105.49 L0,135.49 L60,135.49 L60,15.49 C60,15.49 59.4,0.49 45,0.49 Z"/>
            <%= character_part :foot, :left %>
          </g>
          <path d="M45,0.49 C30.6,0.49 30,15.49 30,15.49 L30,75.49 C30,75.49 30.6,90.49 45,90.49 C59.4,90.49 60,75.49 60,75.49 L60,15.49 C60,15.49 59.4,0.49 45,0.49 Z"/>
        <%= character_part :leg, :left %>
      </g>

      <g fill="#000" transform="translate(150 465)">
        <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
          <g transform="translate(0 60)">
            <%= character_part :foot, :right, [:swimming] %>
              <path d="M30,105.49 L30,15.49 C30,15.49 29.4,0.49 15,0.49 C0.6,0.49 0,15.49 0,15.49 L0,135.49 L60,135.49 L60,105.49 L30,105.49 Z"/>
              <path d="M30,105.49 L30,15.49 C30,15.49 29.4,0.49 15,0.49 C0.6,0.49 0,15.49 0,15.49 L0,135.49 L60,135.49 L60,105.49 L30,105.49 Z"/>
            <%= character_part :foot, :right %>
          </g>
          <path d="M15,0.49 C0.6,0.49 0,15.49 0,15.49 L0,75.49 C0,75.49 0.6,90.49 15,90.49 C29.4,90.49 30,75.49 30,75.49 L30,15.49 C30,15.49 29.4,0.49 15,0.49 Z"/>
        <%= character_part :leg, :right %>
      </g>

      <g transform="translate(30 360)">
        <%= character_part :arm, :left, [:swimming, :chilling] %>
          <g transform="translate(0 45)">
            <%= character_part :hand, :left, [:swimming] %>
              <path fill="#D6D6D6" d="M0,15.49 C0,15.49 0,0.49 15,0.49 C30,0.49 30,15.49 30,15.49 L30,45.49 L0,45.49 L0,15.49 Z"/>
              <rect width="30" height="30" y="45.49" fill="#FFE1D2"/>
            <%= character_part :hand, :left %>
          </g>
          <polygon fill="#D6D6D6" points="0 .49 0 30.49 0 60.49 30 60.49 30 30.49 30 .49"/>
        <%= character_part :arm, :left %>
      </g>

      <g transform="translate(210 360)">
        <%= character_part :arm, :right, [:swimming, :chilling] %>
          <g transform="translate(0 45)">
            <%= character_part :hand, :right, [:swimming] %>
              <path fill="#D6D6D6" d="M0,15.49 C0,15.49 0,0.49 15,0.49 C30,0.49 30,15.49 30,15.49 L30,45.49 L0,45.49 L0,15.49 Z"/>
              <rect width="30" height="30" y="45.49" fill="#FFE1D2"/>
            <%= character_part :hand, :left %>
          </g>
          <polygon fill="#D6D6D6" points="0 .49 0 30.49 0 60.49 30 60.49 30 30.49 30 .49"/>
        <%= character_part :arm, :left %>
      </g>

      <%= character_part :head, [:chilling] %>
        <polygon fill="#C1AD8A" points="30 210.49 0 210.49 0 240.49 30 240.49 60 240.49 60 210.49"/>
        <rect width="30" height="30" x="150" y="30.49" fill="#EDDBBC"/>
        <polygon fill="#EDDBBC" points="120 .49 90 .49 90 30.49 120 30.49 150 30.49 150 .49"/>
        <rect width="30" height="30" x="180" y="60.49" fill="#EDDBBC"/>
        <rect width="30" height="30" x="60" y="150.49" fill="#000"/>
        <rect width="30" height="30" x="180" y="150.49" fill="#000"/>
        <rect width="30" height="30" y="180.49" fill="#F9B08C"/>
        <rect width="30" height="30" x="240" y="180.49" fill="#F9B08C"/>
        <polygon fill="#E5D0A3" points="120 30.49 90 30.49 60 30.49 60 60.49 90 60.49 120 60.49 150 60.49 150 30.49"/>
        <polygon fill="#E5D0A3" points="0 240.49 0 270.49 30 270.49 60 270.49 60 240.49 30 240.49"/>
        <rect width="30" height="30" x="150" y=".49" fill="#E5D0A3"/>
        <rect width="30" height="30" x="180" y="30.49" fill="#E5D0A3"/>
        <rect width="30" height="30" x="150" y="60.49" fill="#E5D0A3"/>
        <polygon fill="#E5D0A3" points="30 90.49 30 120.49 30 150.49 60 150.49 60 120.49 60 90.49 60 60.49 30 60.49"/>
        <polygon fill="#E5D0A3" points="210 60.49 210 90.49 180 90.49 180 120.49 210 120.49 210 150.49 210 180.49 210 210.49 210 240.49 210 270.49 240 270.49 240 240.49 240 210.49 240 180.49 240 150.49 240 120.49 240 90.49 240 60.49"/>
        <rect width="30" height="30" x="120" y="210.49" fill="#F9B08C"/>
        <rect width="30" height="30" x="120" y="240.49" fill="#FFF"/>
        <path fill="#FFE1D2" d="M180,90.49 L150,90.49 L150,60.49 L60,60.49 L60,150.49 L90,150.49 L90,180.49 L60,180.49 L60,150.49 L0,150.49 L0,180.49 L30,180.49 L30,210.49 L60,210.49 L60,300.49 L210,300.49 L210,180.49 L180,180.49 L180,150.49 L210,150.49 L210,120.49 L180,120.49 L180,90.49 Z M120,270.49 L120,210.49 L150,210.49 L150,270.49 L120,270.49 Z"/>
        <rect width="30" height="30" x="240" y="150.49" fill="#FFE1D2"/>

        <g transform="scale(0.7) translate(0, 270)">
          <g class="character__apnea character__apnea--1">
            <path fill="#FFE1D2" fill-rule="evenodd" d="M330,180 L330,210 L60,210 L60,180 L30,180 L30,150 L0,150 L0,60 L30,60 L30,30 L60,30 L60,0 L120,0 L120,30 L150,30 L150,60 L240,60 L240,30 L270,30 L270,0 L330,0 L330,30 L360,30 L360,60 L390,60 L390,150 L360,150 L360,180 L330,180 Z M180,150 L180,180 L210,180 L210,150 L180,150 Z"/>
          </g>
          <g class="character__apnea character__apnea--2" transform="translate(30 0)">
            <path fill="#FFE1D2" d="M240,30 L240,30 L240,0 L270,0 L270,30 L300,30 L300,60 L330,60 L330,150 L300,150 L300,180 L180,180 L180,150 L150,150 L150,180 L30,180 L30,150 L0,150 L0,60 L30,60 L30,30 L60,30 L60,0 L90,0 L90,30 L120,30 L120,60 L210,60 L210,30 L240,30 Z M150,180 L180,180 L180,210 L150,210 L150,180 Z"/>
          </g>
        </g>

        <g class="character__dead" transform="translate(52 142)">
            <rect fill="#FFD8C2" x="60" y="150" width="30" height="30"></rect>
            <rect fill="#FFD8C2" x="180" y="150" width="30" height="30"></rect>
            <rect fill="#ffd8c2" x="7.64" y="7.5" width="30" height="30"/>
            <rect fill="#000" x="15.14" y="15" width="15" height="15"/>
            <rect fill="#000" x="0.14" width="15" height="15"/>
            <rect fill="#000" x="30.14" width="15" height="15"/>
            <rect fill="#000" x="0.14" y="30" width="15" height="15"/>
            <rect fill="#000" x="30.14" y="30" width="15" height="15"/>
            <rect fill="#ffd8c2" x="127.64" y="7.5" width="30" height="30"/>
            <rect fill="#000" x="135.14" y="15" width="15" height="15"/>
            <rect fill="#000" x="120.14" width="15" height="15"/>
            <rect fill="#000" x="150.14" width="15" height="15"/>
            <rect fill="#000" x="120.14" y="30" width="15" height="15"/>
            <rect fill="#000" x="150.14" y="30" width="15" height="15"/>
            <rect x="67.64" y="97.5" width="30" height="30"/>
          </g>
      <%= character_part :head %>
    </g>
  </svg>

  <span class="character__name"></span>
</div>
