<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#d6b7a7" d="M390,419.7s0-15,15-15,15,15,15,15v30H390Z"/>
    <rect fill="#d3d3d3" x="360" y="449.7" width="30" height="30"/>
    <rect fill="#d3d3d3" x="420" y="449.7" width="30" height="30"/>
    <rect fill="#5b5b5b" x="360" y="419.7" width="30" height="30"/>
    <rect fill="#ffad69" x="360" y="479.7" width="30" height="30"/>
    <rect fill="#ffad69" x="420" y="479.7" width="30" height="30"/>
    <path fill="#5b5b5b" d="M360,449.7H330v30s-14.4,0-14.4,15,14.4,15,14.4,15h30v-60Z"/>
    <rect fill="#5b5b5b" x="420" y="419.7" width="30" height="30"/>
    <polygon fill="#5b5b5b" points="420 479.7 420 449.7 390 449.7 390 479.7 390 509.7 360 509.7 360 539.7 390 539.7 420 539.7 450 539.7 450 509.7 420 509.7 420 479.7"/>
    <path fill="#5b5b5b" d="M480,479.7v-30H450v60h30s15,0,15-15S480,479.7,480,479.7Z"/>
    <polygon fill="#333" points="420 539.7 390 539.7 360 539.7 360 569.7 390 569.7 420 569.7 450 569.7 450 539.7 420 539.7"/>
    <polygon fill="#00333f" points="420 569.7 390 569.7 360 569.7 360 599.7 390 599.7 420 599.7 450 599.7 450 569.7 420 569.7"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path fill="#00333f" d="M435,705c-14.4,0-15,15-15,15V839.7h30V720S449.4,705,435,705Z"/>
        <polygon fill="#ffad69" points="450 869.7 450 839.7 420 839.7 420 869.7 420 899.7 450 899.7 480 899.7 480 869.7 450 869.7"/>
      <%= character_part :foot, :left %>
      <path fill="#00333f" d="M435,584.7c-15,0-15,15-15,15v120s.6,15,15,15,15-15,15-15v-120S450,584.7,435,584.7Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path fill="#00333f" d="M375,705c-14.4,0-15,15-15,15V839.7h30V720S389.4,705,375,705Z"/>
        <polygon fill="#ffad69" points="360 839.7 360 869.7 330 869.7 330 899.7 360 899.7 390 899.7 390 869.7 390 839.7 360 839.7"/>
      <%= character_part :foot, :right %>
      <path fill="#00333f" d="M375,584.7c-15,0-15,15-15,15v120s.6,15,15,15,15-15,15-15v-120S390,584.7,375,584.7Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#333" d="M480,539.7s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#ffd8c2" x="480" y="569.7" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#5b5b5b" points="480 479.7 480 509.7 480 539.7 510 539.7 510 509.7 510 479.7 480 479.7"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#333" d="M300,539.7s0-15,15-15,15,15,15,15v30H300Z"/>
        <rect fill="#ffd8c2" x="300" y="569.7" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#5b5b5b" points="300 479.7 300 509.7 300 539.7 330 539.7 330 509.7 330 479.7 300 479.7"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <rect fill="#2d2d2d" x="330" y="179.7" width="30" height="30"/>
      <rect fill="#2d2d2d" x="390" y="179.7" width="30" height="30"/>
      <rect fill="#2d2d2d" x="450" y="179.7" width="30" height="30"/>
      <rect fill="#ad8c02" x="330" y="209.7" width="30" height="30"/>
      <rect fill="#f9d641" x="360" y="209.7" width="30" height="30"/>
      <rect fill="#ad8c02" x="390" y="209.7" width="30" height="30"/>
      <rect fill="#f9d641" x="420" y="209.7" width="30" height="30"/>
      <polygon points="450 149.7 450 119.7 420 119.7 420 89.7 390 89.7 390 119.7 360 119.7 360 149.7 330 149.7 330 179.7 360 179.7 360 209.7 390 209.7 390 179.7 420 179.7 420 209.7 450 209.7 450 179.7 480 179.7 480 149.7 450 149.7"/>
      <rect x="330" y="269.7" width="30" height="30"/>
      <rect x="450" y="269.7" width="30" height="30"/>
      <rect fill="#d6b7a7" x="270" y="299.7" width="30" height="30"/>
      <rect fill="#d6b7a7" x="390" y="299.7" width="30" height="30"/>
      <rect fill="#d6b7a7" x="510" y="299.7" width="30" height="30"/>
      <rect fill="#fff" x="390" y="359.7" width="30" height="30"/>
      <path fill="#ffd8c2" d="M510,269.7H480v30H450v-30h30v-60H450v30H330v30h30v30H330v-30H270v30h30v30h30v90H480v-90h30v-30h30v-30Zm-90,30v30H390v-30Zm-30,90v-30h30v30Z"/>
    <%= character_part :head %>
  </svg>
</div>
