<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <polygon fill="#eaeaea" points="360 480.37 360 510.37 390 510.37 390 480.37 390 450.37 360 450.37 360 480.37"/>
    <polygon fill="#eaeaea" points="420 450.37 420 480.37 420 510.37 450 510.37 450 480.37 450 450.37 420 450.37"/>
    <polygon fill="#264c10" points="390 450.37 390 480.37 390 510.37 390 540.37 390 570.37 420 570.37 420 540.37 420 510.37 420 480.37 420 450.37 390 450.37"/>
    <path fill="#d6d6d6" d="M360,450.37H330v30s-14.4,0-14.4,15,14.4,15,14.4,15h30V450.91h30v-30H360Z"/>
    <path fill="#d6d6d6" d="M480,480.37v-30H450V420.91H420v30h30v59.46h30s15,0,15-15S480,480.37,480,480.37Z"/>
    <polygon fill="#d6d6d6" points="420 540.37 420 570.37 450 570.37 450 540.37 450 510.37 420 510.37 420 540.37"/>
    <polygon fill="#d6d6d6" points="360 570.37 390 570.37 390 540.37 390 510.37 360 510.37 360 540.37 360 570.37"/>
    <polygon points="420 570.37 390 570.37 360 570.37 360 600.37 390 600.37 420 600.37 450 600.37 450 570.37 420 570.37"/>
    <path fill="#f9b08c" d="M390,420.59s0-15,15-15,15,15,15,15v30H390Z"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path d="M450,870.37V750.68s-.6-15-15-15-15,15-15,15V900.37h60v-30Z"/>
      <%= character_part :foot, :left %>
      <path d="M435,585.37c-15,0-15,15-15,15v150s.6,15,15,15,15-15,15-15v-150S450,585.37,435,585.37Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path d="M375,735.68c-14.4,0-15,15-15,15V870.37H330v30h60V750.68S389.4,735.68,375,735.68Z"/>
      <%= character_part :foot, :right %>
      <path d="M375,585.37c-15,0-15,15-15,15v150s.6,15,15,15,15-15,15-15v-150S390,585.37,375,585.37Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#d6d6d6" d="M480,540.37s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#ffd8c2" x="480" y="570.37" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#d6d6d6" points="480 480.37 480 510.37 480 540.37 510 540.37 510 510.37 510 480.37 480 480.37"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#d6d6d6" d="M300,540.37s0-15,15-15,15,15,15,15v30H300Z"/>
        <rect fill="#ffd8c2" x="300" y="570.37" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#d6d6d6" points="300 480.37 300 510.37 300 540.37 330 540.37 330 510.37 330 480.37 300 480.37"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <polygon fill="#3d2400" points="420 90.91 390 90.91 360 90.91 360 120.91 390 120.91 420 120.91 450 120.91 450 90.91 420 90.91"/>
      <polygon fill="#bc6351" points="420 60.91 390 60.91 360 60.91 360 90.91 390 90.91 420 90.91 450 90.91 450 60.91 420 60.91"/>
      <polygon fill="#6d1700" points="420 60.91 450 60.91 450 30.91 420 30.91 390 30.91 360 30.91 360 60.91 390 60.91 420 60.91"/>
      <polygon fill="#6d1700" points="510 180.91 510 150.91 480 150.91 480 120.91 450 120.91 420 120.91 390 120.91 360 120.91 330 120.91 330 150.91 300 150.91 300 180.91 270 180.91 270 210.91 270 240.91 300 240.91 300 270.91 330 270.91 330 240.91 330 210.91 330 180.91 360 180.91 390 180.91 420 180.91 450 180.91 480 180.91 480 210.91 480 240.91 480 270.91 510 270.91 510 240.91 510 240.64 540 240.64 540 210.91 540 210.64 540 180.91 510 180.91"/>
      <rect x="330" y="270.91" width="30" height="30"/>
      <rect x="450" y="270.91" width="30" height="30"/>
      <rect fill="#f9b08c" x="270" y="300.91" width="30" height="30"/>
      <rect fill="#f9b08c" x="510" y="300.91" width="30" height="30"/>
      <rect fill="#fce9e0" x="510" y="330.64" width="30" height="30"/>
      <rect fill="#f9b08c" x="390" y="330.91" width="30" height="30"/>
      <rect fill="#fff" x="390" y="360.91" width="30" height="30"/>
      <path fill="#ffd8c2" d="M510,270.91H480v30H450v-30h30v-90H330v90h30v30H330v-30H270v30h30v30h30v90H480v-90h30v-30h30v-30Zm-120,120v-60h30v60Z"/>
    <%= character_part :head %>
  </svg>
</div>
