<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#f9c5af" d="M404.6,480.55s0-15,15-15,15,15,15,15v30h-30Z"/>
    <path d="M374.6,510.55h-30v30s-14.4,0-14.4,15,14.4,15,14.4,15h30v60h30v-120Z"/>
    <polygon fill="#6d1700" points="404.6 540.55 404.6 570.55 404.6 600.55 404.6 630.55 434.6 630.55 434.6 600.55 434.6 570.55 434.6 540.55 404.6 540.55"/>
    <path d="M494.6,540.55v-30h-60v120h30v-60h30s15,0,15-15S494.6,540.55,494.6,540.55Z"/>
    <polygon fill="#00333f" points="434.6 630.55 404.6 630.55 374.6 630.55 374.6 660.55 404.6 660.55 434.6 660.55 464.6 660.55 464.6 630.55 434.6 630.55"/>
    <rect fill="#ffd8c2" x="404.6" y="510.55" width="30" height="30"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path fill="#00333f" d="M449.6,735.55c-14.4,0-15,15-15,15v89.68h30V750.55S464,735.55,449.6,735.55Z"/>
        <polygon fill="#8e886f" points="464.6 870.24 464.6 840.24 434.6 840.24 434.6 870.24 434.6 900.24 464.6 900.24 494.6 900.24 494.6 870.24 464.6 870.24"/>
      <%= character_part :foot, :left %>
      <path fill="#00333f" d="M449.6,645.55c-15,0-15,15-15,15v89.68s.6,15,15,15,15-15,15-15V660.55S464.6,645.55,449.6,645.55Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path fill="#00333f" d="M389.6,735.55c-14.4,0-15,15-15,15v89.68h30V750.55S404,735.55,389.6,735.55Z"/>
        <polygon fill="#8e886f" points="374.6 870.24 344.6 870.24 344.6 900.24 374.6 900.24 404.6 900.24 404.6 870.24 404.6 840.24 374.6 840.24 374.6 870.24"/>
      <%= character_part :foot, :right %>
      <path fill="#00333f" d="M389.6,645.55c-15,0-15,15-15,15v89.68s.6,15,15,15,15-15,15-15V660.55S404.6,645.55,389.6,645.55Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path d="M494.6,600.55s0-15,15-15,15,15,15,15v30h-30Z"/>
        <rect fill="#ffd8c2" x="494.6" y="630.55" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon points="494.6 540.55 494.6 570.55 494.6 600.55 524.6 600.55 524.6 570.55 524.6 540.55 494.6 540.55"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path d="M314.6,600.55s0-15,15-15,15,15,15,15v30h-30Z"/>
        <rect fill="#ffd8c2" x="314.6" y="630.55" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon points="314.6 540.55 314.6 570.55 314.6 600.55 344.6 600.55 344.6 570.55 344.6 540.55 314.6 540.55"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <rect fill="#ffeea9" x="344.6" y="210.55" width="30" height="30"/>
      <rect fill="#ffeea9" x="404.6" y="210.55" width="30" height="30"/>
      <rect fill="#ffeea9" x="464.6" y="210.55" width="30" height="30"/>
      <rect fill="#f9d641" x="374.6" y="210.55" width="30" height="30"/>
      <rect fill="#f9d641" x="434.6" y="210.55" width="30" height="30"/>
      <polygon fill="#f9d641" points="314.6 270.56 314.6 300.56 314.6 330.56 344.6 330.56 344.6 300.56 344.6 270.56 344.6 240.56 314.6 240.56 314.6 270.56"/>
      <rect fill="#f9d641" x="494.6" y="210.55" width="30" height="30"/>
      <polygon fill="#f9d641" points="494.6 300.56 494.6 330.56 524.6 330.56 524.6 300.56 524.6 270.56 494.6 270.56 494.6 300.56"/>
      <rect x="344.6" y="330.55" width="30" height="30"/>
      <rect x="464.6" y="330.55" width="30" height="30"/>
      <rect fill="#f9c5af" x="284.6" y="360.55" width="30" height="30"/>
      <rect fill="#f9c5af" x="524.6" y="360.55" width="30" height="30"/>
      <rect fill="#f9c5af" x="404.6" y="390.55" width="30" height="30"/>
      <rect fill="#fff" x="404.6" y="420.55" width="30" height="30"/>
      <path fill="#ffd8c2" d="M524.6,330.55h-30v30h-30v-30h30v-90h-150v90h30v30h-30v-30h-60v30h30v30h30v90h150v-90h30v-30h30v-30Zm-120,120v-60h30v60Z"/>
    <%= character_part :head %>
  </svg>
</div>
