<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#d6b7a7" d="M390,509.19s0-15,15-15,15,15,15,15v30H390Z"/>
    <path d="M480,569.51v-30H420v30H390v-30H330v30s-15,0-15,15,15,15,15,15h30v60h90v-60h30s15,0,15-15S480,569.51,480,569.51Z"/>
    <polygon fill="#00333f" points="420 659.51 390 659.51 360 659.51 360 689.51 390 689.51 420 689.51 450 689.51 450 659.51 420 659.51"/>
    <rect fill="#ffd8c2" x="390" y="539.51" width="30" height="30"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <polygon fill="#ff0000" points="450 869.51 450 839.51 420 839.51 420 869.51 420 899.51 450 899.51 480 899.51 480 869.51 450 869.51"/>
        <path fill="#00333f" d="M435,734.51c-14.4,0-15,15-15,15v60h30v-60S449.4,734.51,435,734.51Z"/>
        <rect fill="#ffd8c2" x="420" y="809.51" width="30" height="30"/>
      <%= character_part :foot, :left %>
      <path fill="#00333f" d="M435,674.51c-14.4,0-15,15-15,15v60s.6,15,15,15,15-15,15-15v-60S449.4,674.51,435,674.51Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <polygon fill="#ff0000" points="360 869.51 330 869.51 330 899.51 360 899.51 390 899.51 390 869.51 390 839.51 360 839.51 360 869.51"/>
        <path fill="#00333f" d="M375,734.51c-14.4,0-15,15-15,15v60h30v-60S389.4,734.51,375,734.51Z"/>
        <rect fill="#ffd8c2" x="360" y="809.51" width="30" height="30"/>
      <%= character_part :foot, :right %>
      <path fill="#00333f" d="M375,674.51c-14.4,0-15,15-15,15v60s.6,15,15,15,15-15,15-15v-60S389.4,674.51,375,674.51Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path d="M480,629.19s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#ffd8c2" x="480" y="659.51" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon points="480 569.51 480 599.51 480 629.51 510 629.51 510 599.51 510 569.51 480 569.51"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path d="M300,629.19s0-15,15-15,15,15,15,15v30H300Z"/>
        <rect fill="#ffd8c2" x="300" y="659.51" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon points="300 569.51 300 599.51 300 629.51 330 629.51 330 599.51 330 569.51 300 569.51"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <rect x="330" y="359.51" width="30" height="30"/>
      <rect x="450" y="359.51" width="30" height="30"/>
      <rect fill="#d6b7a7" x="390" y="419.51" width="30" height="30"/>
      <polygon fill="#f7b32d" points="510 299.51 510 269.51 510 239.51 480 239.51 480 209.51 450 209.51 450 179.51 420 179.51 420 209.51 390 209.51 390 179.51 360 179.51 360 209.51 330 209.51 330 239.51 300 239.51 300 269.51 300 299.51 270 299.51 270 329.51 270 359.51 270 389.51 270 419.51 300 419.51 300 449.51 300 479.51 300 509.51 270 509.51 270 539.51 300 539.51 330 539.51 330 509.51 360 509.51 360 479.51 330 479.51 330 449.51 330 419.51 330 389.51 330 359.51 330 329.51 330 299.51 330 269.51 360 269.51 360 239.51 390 239.51 420 239.51 450 239.51 450 269.51 480 269.51 480 299.51 480 329.51 480 359.51 480 389.51 480 419.51 480 449.51 480 479.51 450 479.51 450 509.51 450 539.51 480 539.51 480 509.51 510 509.51 510 479.51 510 449.51 510 419.51 540 419.51 540 389.51 540 359.51 540 329.51 540 299.51 510 299.51"/>
      <rect fill="#f7b32d" x="510" y="509.51" width="30" height="30"/>
      <polygon fill="#c68d28" points="510 419.51 510 449.51 510 479.51 510 509.51 540 509.51 540 479.51 540 449.51 540 419.51 510 419.51"/>
      <polygon fill="#c68d28" points="300 479.51 300 449.51 300 419.51 270 419.51 270 449.51 270 479.51 270 509.51 300 509.51 300 479.51"/>
      <rect fill="#c68d28" x="330" y="509.51" width="30" height="30"/>
      <polygon fill="#c68d28" points="480 539.51 480 569.51 510 569.51 540 569.51 540 539.51 510 539.51 510 509.51 480 509.51 480 539.51"/>
      <polygon fill="#c68d28" points="270 539.51 270 569.51 300 569.51 330 569.51 330 539.51 300 539.51 270 539.51"/>
      <path fill="#ffd8c2" d="M480,449.51v-60H450v-30h30v-90H450v-30H360v30H330v90h30v30H330v90h30v30h90v-30h30Zm-90,30v-60h30v60Z"/>
      <rect fill="#fff" x="390" y="449.51" width="30" height="30"/>
    <%= character_part :head %>
  </svg>
</div>
