<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#d6b7a7" d="M390,420s0-15,15-15,15,15,15,15v30H390Z"/>
    <rect fill="#ffe578" x="390" y="510" width="30" height="30"/>
    <rect fill="#c4bc97" x="390" y="480" width="30" height="30"/>
    <rect fill="#c4bc97" x="390" y="540" width="30" height="30"/>
    <path fill="#005996" d="M330,450v30s-14.4,0-14.4,15S330,510,330,510h30v60h30V450H330Z"/>
    <path fill="#005996" d="M480,480V450H420V570h30V510h30s15,0,15-15S480,480,480,480Z"/>
    <polygon fill="#00333f" points="420 570 390 570 360 570 360 600 390 600 420 600 450 600 450 570 420 570"/>
    <rect fill="#ffd8c2" x="390" y="450" width="30" height="30"/>
    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path fill="#00333f" d="M435,705.32c-14.4,0-15,15-15,15V840h30V720.32S449.4,705.32,435,705.32Z"/>
        <polygon fill="#6d1700" points="450 870 450 840 420 840 420 870 420 900 450 900 480 900 480 870 450 870"/>
      <%= character_part :foot, :left %>
      <path fill="#00333f" d="M435,585c-15,0-15,15-15,15V720s.6,15,15,15,15-15,15-15V600S450,585,435,585Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path fill="#00333f" d="M375,705.32c-14.4,0-15,15-15,15V840h30V720.32S389.4,705.32,375,705.32Z"/>
        <polygon fill="#6d1700" points="360 870 330 870 330 900 360 900 390 900 390 870 390 840 360 840 360 870"/>
      <%= character_part :foot, :right %>
      <path fill="#00333f" d="M375,585c-15,0-15,15-15,15V720s.6,15,15,15,15-15,15-15V600S390,585,375,585Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#005996" d="M480,540s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#ffd8c2" x="480" y="570" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#005996" points="480 480 480 510 480 540 510 540 510 510 510 480 480 480"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#005996" d="M300,540s0-15,15-15,15,15,15,15v30H300Z"/>
        <rect fill="#ffd8c2" x="300" y="570" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#005996" points="300 480 300 510 300 540 330 540 330 510 330 480 300 480"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <polygon fill="#3d2c0f" points="510 150 510 120 480 120 450 120 450 90 420 90 390 90 360 90 360 120 330 120 330 150 300 150 300 180 300 210 300 240 300 270 330 270 330 240 360 240 360 210 390 210 390 240 420 240 420 210 420 180 450 180 480 180 480 210 480 240 480 270 510 270 510 240 540 240 540 210 540 180 540 150 510 150"/>
      <rect fill="#3d2c0f" x="360" y="240" width="30" height="30"/>
      <rect x="330" y="270" width="30" height="30"/>
      <rect x="450" y="270" width="30" height="30"/>
      <rect fill="#d6b7a7" x="270" y="300" width="30" height="30"/>
      <rect fill="#d6b7a7" x="510" y="300" width="30" height="30"/>
      <rect fill="#d6b7a7" x="390" y="330" width="30" height="30"/>
      <rect fill="#fff" x="390" y="360" width="30" height="30"/>
      <rect fill="#ffd8c2" x="360" y="210" width="30" height="30"/>
      <rect fill="#ffd8c2" x="330" y="240" width="30" height="30"/>
      <path fill="#ffd8c2" d="M510,270H480v30H450V270h30V180H420v60H390v30H360v30H330V270H270v30h30v30h30v90H480V330h30V300h30V270ZM390,390V330h30v60Z"/>
    <%= character_part :head %>
  </svg>
</div>
