<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#ddbcaf" d="M390,509.27s0-15,15-15,15,15,15,15v30H390Z"/>
    <path fill="#fff" d="M480,569.59v-30H420v30h30v30h30s15,0,15-15S480,569.59,480,569.59Z"/>
    <path fill="#fff" d="M360,539.59H330v30s-15,0-15,15,15,15,15,15h30v-30h30v-30Z"/>
    <polygon fill="#fff" points="390 599.59 390 629.59 390 659.59 420 659.59 420 629.59 420 599.59 420 569.59 390 569.59 390 599.59"/>
    <polygon fill="#8ddcff" points="360 599.59 360 629.59 360 659.59 390 659.59 390 629.59 390 599.59 390 569.59 360 569.59 360 599.59"/>
    <polygon fill="#8ddcff" points="420 569.59 420 599.59 420 629.59 420 659.59 450 659.59 450 629.59 450 599.59 450 569.59 420 569.59"/>
    <polygon points="420 659.59 390 659.59 360 659.59 360 689.59 390 689.59 420 689.59 450 689.59 450 659.59 420 659.59"/>
    <rect fill="#ffd8c2" x="390" y="539.59" width="30" height="30"/>
    <polygon fill="#ffd67b" points="300 539.59 300 569.59 330 569.59 330 539.59 330 509.59 300 509.59 300 539.59"/>
    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path d="M435,764.59c-14.4,0-15,15-15,15v60h30v-60S449.4,764.59,435,764.59Z"/>
        <rect fill="#ffd5c2" x="420" y="839.59" width="30" height="30"/>
        <polygon points="450 869.59 420 869.59 420 899.59 450 899.59 480 899.59 480 869.59 450 869.59"/>
      <%= character_part :foot, :left %>
      <path d="M435,674.59c-14.4,0-15,15-15,15v90s.6,15,15,15,15-15,15-15v-90S449.4,674.59,435,674.59Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <polygon points="330 869.59 330 899.59 360 899.59 390 899.59 390 869.59 360 869.59 330 869.59"/>
        <path d="M375,764.59c-14.4,0-15,15-15,15v60h30v-60S389.4,764.59,375,764.59Z"/>
        <rect fill="#ffd5c2" x="360" y="839.59" width="30" height="30"/>
      <%= character_part :foot, :right %>
      <path d="M375,674.59c-14.4,0-15,15-15,15v90s.6,15,15,15,15-15,15-15v-90S389.4,674.59,375,674.59Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#ffd5c2" d="M495,614.27c-15,0-15,15-15,15v30h30v-30S510,614.27,495,614.27Z"/>
        <rect fill="#ffd5c2" x="480" y="659.59" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <rect fill="#fff" x="480" y="569.59" width="30" height="30"/>
      <rect fill="#ffd5c2" x="480" y="599.59" width="30" height="30"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#ffd5c2" d="M315,614.27c-15,0-15,15-15,15v30h30v-30S330,614.27,315,614.27Z"/>
        <rect fill="#ffd5c2" x="300" y="659.59" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <rect fill="#fff" x="300" y="569.59" width="30" height="30"/>
      <rect fill="#ffd5c2" x="300" y="599.59" width="30" height="30"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <polygon fill="#d8c161" points="480 209.59 450 209.59 420 209.59 390 209.59 390 239.59 420 239.59 450 239.59 450 269.59 480 269.59 480 239.59 480 209.59"/>
      <polygon fill="#d8c161" points="330 239.59 330 269.59 360 269.59 390 269.59 390 239.59 360 239.59 330 239.59"/>
      <polygon fill="#d8c161" points="480 269.59 480 299.59 480 329.59 480 359.59 480 389.59 510 389.59 510 359.59 510 329.59 510 299.59 510 269.59 480 269.59"/>
      <polygon fill="#d8c161" points="300 299.59 300 329.59 330 329.59 330 299.59 330 269.59 300 269.59 300 299.59"/>
      <rect x="450" y="359.59" width="30" height="30"/>
      <rect x="330" y="359.59" width="30" height="30"/>
      <rect fill="#d6b7a7" x="390" y="419.59" width="30" height="30"/>
      <rect fill="#fff" x="390" y="449.59" width="30" height="30"/>
      <path fill="#ffd8c2" d="M450,269.59v-30H390v30H330v90h30v30H330v90h30v30h90v-30h30v-90H450v-30h30v-90Zm-60,210v-60h30v60Z"/>
      <polygon fill="#ffe578" points="300 359.59 300 389.59 300 419.59 300 449.59 300 479.59 300 509.59 330 509.59 330 479.59 330 449.59 330 419.59 330 389.59 330 359.59 330 329.59 300 329.59 300 359.59"/>
      <polygon fill="#ffe578" points="510 419.59 510 389.59 480 389.59 480 419.59 480 449.59 480 479.59 510 479.59 510 509.59 510 539.59 510 569.59 540 569.59 540 539.59 540 509.59 540 479.59 540 449.59 540 419.59 510 419.59"/>
      <polygon fill="#ffe578" points="270 539.59 270 569.59 300 569.59 300 539.59 300 509.59 270 509.59 270 539.59"/>
      <polygon fill="#ffd67b" points="480 509.59 480 539.59 480 569.59 510 569.59 510 539.59 510 509.59 510 479.59 480 479.59 480 509.59"/>
      <rect fill="#ffd67b" x="270" y="479.59" width="30" height="30"/>
    <%= character_part :head %>
  </svg>
</div>
