<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#8e5e4d" d="M390,630S390,615,405,615,420,630,420,630v30H390Z"/>
    <polygon fill="#686868" points="360 660 360 690 360 720 360 750 390 750 390 720 390 690 390 660 390 630 360 630 360 660"/>
    <polygon fill="#686868" points="420 630 420 660 420 690 420 720 420 750 450 750 450 720 450 690 450 660 450 630 420 630"/>
    <path fill="#d6d6d6" d="M360,690V660H330v30s-15,0-15,15,15,15,15,15h30Z"/>
    <path fill="#d6d6d6" d="M480,690V660H450v60h30s15,0,15-15S480,690,480,690Z"/>
    <polygon fill="#d6d6d6" points="420 720 420 690 390 690 390 720 390 750 360 750 360 780 390 780 420 780 450 780 450 750 420 750 420 720"/>
    <polygon fill="#b7b7b7" points="420 780 390 780 360 780 360 810 390 810 420 810 450 810 450 780 420 780"/>
    <rect fill="#ad785c" x="390" y="660" width="30" height="30"/>
     <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <path fill="#b7b7b7" d="M420,810s0-15,15-15,15,15,15,15v30s0,15.45-15,15.45S420,840,420,840Z"/>
      <%= character_part :foot, :left, [:swimming] %>
        <path fill="#b7b7b7" d="M420,840.23s0-15,15-15,15,15,15,15v30s0,15.45-15,15.45-15-15.45-15-15.45Z"/>
        <polygon points="450 870 450 840 420 840 420 870 420 900 450 900 480 900 480 870 450 870"/>
      <%= character_part :foot, :left %>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <path fill="#b7b7b7" d="M360,810s0-15,15-15,15,15,15,15v30s0,15-15,15-15-15-15-15Z"/>
      <%= character_part :foot, :right, [:swimming] %>
        <path fill="#b7b7b7" d="M360,840s0-15,15-15,15,15,15,15v30s0,15-15,15-15-15-15-15Z"/>
        <polygon points="360 840 360 870 330 870 330 900 360 900 390 900 390 870 390 840 360 840"/>
      <%= character_part :foot, :right %>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#d6d6d6" d="M480,750s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#ad785c" x="480" y="780" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#d6d6d6" points="480 690 480 720 480 750 510 750 510 720 510 690 480 690"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#d6d6d6" d="M300,750s0-15,15-15,15,15,15,15v30H300Z"/>
        <rect fill="#ad785c" x="300" y="780" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#d6d6d6" points="300 690 300 720 300 750 330 750 330 720 330 690 300 690"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <polygon points="420 300 420 270 390 270 360 270 360 300 360 330 330 330 300 330 300 360 330 360 360 360 390 360 420 360 450 360 450 330 450 300 420 300"/>
      <polygon fill="#262626" points="480 390 480 360 450 360 420 360 390 360 360 360 330 360 330 390 300 390 300 420 300 450 300 480 330 480 330 450 330 420 360 420 360 390 390 390 420 390 450 390 450 420 480 420 480 450 480 480 510 480 510 450 510 420 510 390 480 390"/>
      <rect x="330" y="480" width="30" height="30"/>
      <rect x="450" y="480" width="30" height="30"/>
      <rect fill="#8e5e4d" x="270" y="510" width="30" height="30"/>
      <rect fill="#8e5e4d" x="510" y="510" width="30" height="30"/>
      <rect fill="#8e5e4d" x="390" y="540" width="30" height="30"/>
      <rect fill="#fff" x="390" y="570" width="30" height="30"/>
      <rect fill="#c18b72" x="330" y="570" width="30" height="30"/>
      <rect fill="#c18b72" x="450" y="570" width="30" height="30"/>
      <path fill="#ad785c" d="M510,480H480v30H450V480h30V420H450V390H360v30H330v60h30v30H330V480H270v30h30v30h30v30h30v30H330v30H480V600H450V570h30V540h30V510h30V480ZM420,600H390V540h30v60Z"/>
    <%= character_part :head %>
  </svg>
</div>
