<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <rect fill="#eabdb9" x="358.98" y="631.41" width="30" height="30"/>
    <rect fill="#eabdb9" x="418.98" y="631.41" width="30" height="30"/>
    <path fill="#ffc8c2" d="M329,631.41v30s-15,0-15,15,15,15,15,15h30v60h30v-90H359v-30Z"/>
    <rect fill="#ffc8c2" x="358.98" y="601.41" width="30" height="30"/>
    <path d="M404,586.38c-15,0-15,15.06-15,15.06v150h30v-150S419,586.38,404,586.38Z"/>
    <rect fill="#ffc8c2" x="418.98" y="601.41" width="30" height="30"/>
    <polygon fill="#ffc8c2" points="418.98 691.41 418.98 721.41 418.98 751.41 448.98 751.41 448.98 721.41 448.98 691.41 448.98 661.41 418.98 661.41 418.98 691.41"/>
    <path fill="#ffc8c2" d="M479,660h0V631.41H449v30h0V690h30s15,0,15-15S479,660,479,660Z"/>
    <polygon fill="#747f70" points="418.98 751.41 388.98 751.41 358.98 751.41 358.98 781.41 388.98 781.41 418.98 781.41 448.98 781.41 448.98 751.41 418.98 751.41"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path fill="#747f70" d="M419,811.92s0-15,15-15,15,15,15,15v30s0,15.45-15,15.45-15-15.45-15-15.45Z"/>
        <polygon fill="#0f0000" points="448.98 869.69 418.98 869.69 418.98 899.69 448.98 899.69 478.98 899.69 478.98 869.69 448.98 869.69"/>
        <rect fill="#ffe1d2" x="418.98" y="839.69" width="30" height="30"/>
      <%= character_part :foot, :left %>
      <path fill="#747f70" d="M419,781.41s0-15,15-15,15,15,15,15v30s0,15.45-15,15.45-15-15.45-15-15.45Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path fill="#747f70" d="M359,811.69s0-15,15-15,15,15,15,15v30s0,15-15,15-15-15-15-15Z"/>
        <polygon fill="#0f0000" points="358.98 869.69 328.98 869.69 328.98 899.69 358.98 899.69 388.98 899.69 388.98 869.69 358.98 869.69"/>
        <rect fill="#ffe1d2" x="358.98" y="839.69" width="30" height="30"/>
      <%= character_part :foot, :right %>
      <path fill="#747f70" d="M359,781.41s0-15,15-15,15,15,15,15v30s0,15-15,15-15-15-15-15Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#ffc8c2" d="M479,720s0-15,15-15,15,15,15,15v30H479Z"/>
        <rect fill="#ffe1d2" x="479" y="750" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#ffc8c2" points="479 660 479 690 479 720 509 720 509 690 509 660 479 660"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#ffc8c2" d="M299,721.41s0-15,15-15,15,15,15,15v30H299Z"/>
        <rect fill="#ffe1d2" x="298.98" y="751.41" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#ffc8c2" points="298.98 661.41 298.98 691.41 298.98 721.41 328.98 721.41 328.98 691.41 328.98 661.41 298.98 661.41"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <rect x="448.98" y="451.41" width="30" height="30"/>
      <rect x="328.98" y="451.41" width="30" height="30"/>
      <rect fill="#e0c7bd" x="388.98" y="511.41" width="30" height="30"/>
      <rect fill="#fff" x="388.98" y="541.41" width="30" height="30"/>
      <path fill="#ffe1d2" d="M479,571.41v-90H449v-30h30v-90H449v-30H389v30H329v90h30v30H329v120H479Zm-90,0v-60h30v60Z"/>
      <polygon fill="#e2d7cf" points="328.98 331.41 298.98 331.41 298.98 361.41 298.98 391.41 268.98 391.41 268.98 421.41 268.98 451.41 268.98 481.41 268.98 511.41 241.02 511.41 241.02 541.41 268.98 541.41 268.98 571.41 268.98 601.41 298.98 601.41 298.98 571.41 298.98 541.41 271.02 541.41 271.02 511.41 298.98 511.41 298.98 541.41 328.98 541.41 328.98 511.41 328.98 481.41 328.98 451.41 328.98 421.41 328.98 391.41 328.98 361.41 358.98 361.41 388.98 361.41 388.98 331.41 358.98 331.41 328.98 331.41"/>
      <polygon fill="#e2d7cf" points="478.98 571.41 478.98 601.41 508.98 601.41 508.98 571.41 508.98 541.41 478.98 541.41 478.98 571.41"/>
      <polygon fill="#e2d7cf" points="538.98 511.41 538.98 481.41 538.98 451.41 538.98 421.41 538.98 391.41 508.98 391.41 508.98 361.41 508.98 331.41 478.98 331.41 478.98 301.41 448.98 301.41 418.98 301.41 388.98 301.41 388.98 331.41 418.98 331.41 448.98 331.41 448.98 361.41 478.98 361.41 478.98 391.41 478.98 421.41 478.98 451.41 478.98 481.41 478.98 511.41 508.98 511.41 508.98 541.41 538.98 541.41 538.98 571.41 538.98 601.41 568.98 601.41 568.98 571.41 568.98 541.41 568.98 511.41 538.98 511.41"/>
      <rect fill="#99918c" x="478.98" y="511.41" width="30" height="30"/>
      <polygon fill="#99918c" points="268.98 511.41 268.98 541.41 241.02 541.41 241.02 571.41 241.02 601.41 271.02 601.41 271.02 571.41 271.02 541.41 298.98 541.41 298.98 511.41 268.98 511.41"/>
      <polygon fill="#99918c" points="508.98 541.41 508.98 571.41 508.98 601.41 538.98 601.41 538.98 571.41 538.98 541.41 508.98 541.41"/>
      <polygon fill="#99918c" points="298.98 571.41 298.98 601.41 328.98 601.41 328.98 571.41 328.98 541.41 298.98 541.41 298.98 571.41"/>
    <%= character_part :head %>
  </svg>
</div>
