<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <rect fill="#f9eaaf" x="360" y="600" width="30" height="30"/>
    <rect fill="#f9eaaf" x="420" y="600" width="30" height="30"/>
    <polygon points="390 540 360 540 360 570 360 600 390 600 390 570 390 540"/>
    <polygon points="420 540 420 570 420 600 450 600 450 570 450 540 420 540"/>
    <polygon points="390 630 360 630 360 660 360 690 390 690 420 690 450 690 450 660 450 630 420 630 420 600 390 600 390 630"/>
    <path fill="#d6b7a7" d="M390,509.68s0-15,15-15,15,15,15,15v30H390Z"/>
    <rect fill="#fff" x="390" y="450" width="30" height="30"/>
    <rect fill="#ffd8c2" x="390" y="540" width="30" height="30"/>
    <path fill="#004368" d="M480,570V540H450v60h30s15,0,15-15S480,570,480,570Z"/>
    <path fill="#004368" d="M330,570s-15,0-15,15,15,15,15,15h30V540H330Z"/>
    <rect fill="#004368" x="390" y="570" width="30" height="30"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path d="M435,735c-14.4,0-15,15-15,15v60h30V750S449.4,735,435,735Z"/>
        <rect fill="#d6d6d6" x="420" y="810" width="30" height="30"/>
        <polygon fill="#0f0000" points="450 870 450 840 420 840 420 870 420 900 450 900 480 900 480 870 450 870"/>
      <%= character_part :foot, :left %>
      <path d="M435,675c-14.4,0-15,15-15,15v60s.6,15,15,15,15-15,15-15V690S449.4,675,435,675Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path d="M375,735c-14.4,0-15,15-15,15v60h30V750S389.4,735,375,735Z"/>
        <rect fill="#d6d6d6" x="360" y="810" width="30" height="30"/>
        <polygon fill="#0f0000" points="360 870 330 870 330 900 360 900 390 900 390 870 390 840 360 840 360 870"/>
      <%= character_part :foot, :right %>
      <path d="M375,675c-14.4,0-15,15-15,15v60s.6,15,15,15,15-15,15-15V690S389.4,675,375,675Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#ff0" d="M480,629.68s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#ffd8c2" x="480" y="660" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <rect fill="#004368" x="480" y="600" width="30" height="30"/>
      <rect fill="#00ccc6" x="480" y="570" width="30" height="30"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#ff0" d="M300,629.68s0-15,15-15,15,15,15,15v30H300Z"/>
        <rect fill="#ffd8c2" x="300" y="660" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <rect fill="#004368" x="300" y="600" width="30" height="30"/>
      <rect fill="#00ccc6" x="300" y="570" width="30" height="30"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <rect x="330" y="360" width="30" height="30"/>
      <rect x="450" y="360" width="30" height="30"/>
      <rect fill="#d6b7a7" x="390" y="420" width="30" height="30"/>
      <rect fill="#f9b08c" x="270" y="390" width="30" height="30"/>
      <rect fill="#f9b08c" x="510" y="390" width="30" height="30"/>
      <rect fill="#f9b08c" x="330" y="450" width="30" height="30"/>
      <rect fill="#f9b08c" x="450" y="450" width="30" height="30"/>
      <polygon fill="#a3934f" points="510 450 510 420 480 420 480 450 480 480 480 510 450 510 420 510 420 540 450 540 480 540 480 570 510 570 540 570 540 540 540 510 540 480 510 480 510 450"/>
      <polygon fill="#a3934f" points="330 510 330 480 330 450 330 420 300 420 300 450 300 480 300 510 270 510 270 540 270 570 300 570 330 570 330 540 360 540 390 540 390 510 360 510 330 510"/>
      <polygon fill="#a3934f" points="510 270 510 240 480 240 480 210 450 210 420 210 390 210 360 210 330 210 330 240 300 240 300 270 270 270 270 300 270 330 300 330 300 360 330 360 330 330 330 300 330 270 360 270 390 270 420 270 450 270 480 270 480 300 480 330 480 360 510 360 510 330 540 330 540 300 540 270 510 270"/>
      <path fill="#ffd8c2" d="M510,360H480v30H450V360h30V270H330v90h30v30H330V360H270v30h30v30h30v30h30v30H330v30H480V480H450V450h30V420h30V390h30V360ZM420,480H390V420h30v60Z"/>
    <%= character_part :head %>
  </svg>
</div>
