<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#f9c5af" d="M390,479.93s0-15,15-15,15,15,15,15v30H390Z"/>
    <polygon fill="#00333f" points="420 629.93 390 629.93 360 629.93 360 659.93 390 659.93 420 659.93 450 659.93 450 629.93 420 629.93"/>
    <rect fill="#ffd8c2" x="390" y="509.93" width="30" height="30"/>
    <path fill="#6d1700" d="M480,539.93v-30H420v30H390v-30H330v30s-14.4,0-14.4,15,14.4,15,14.4,15h30v60h90v-60h30s15,0,15-15S480,539.93,480,539.93Z"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path fill="#00333f" d="M435,734.93c-14.4,0-15,15-15,15v89.68h30V749.93S449.4,734.93,435,734.93Z"/>
        <polygon fill="#8e886f" points="450 869.61 450 839.61 420 839.61 420 869.61 420 899.61 450 899.61 480 899.61 480 869.61 450 869.61"/>
      <%= character_part :foot, :left %>
      <path fill="#00333f" d="M435,644.93c-15,0-15,15-15,15v89.68s.6,15,15,15,15-15,15-15V659.93S450,644.93,435,644.93Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path fill="#00333f" d="M375,734.93c-14.4,0-15,15-15,15v89.68h30V749.93S389.4,734.93,375,734.93Z"/>
        <polygon fill="#8e886f" points="360 839.61 360 869.61 330 869.61 330 899.61 360 899.61 390 899.61 390 869.61 390 839.61 360 839.61"/>
      <%= character_part :foot, :right %>
      <path fill="#00333f" d="M375,644.93c-15,0-15,15-15,15v89.68s.6,15,15,15,15-15,15-15V659.93S390,644.93,375,644.93Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#ffd8c2" d="M495,584.93c-15,0-15,15-15,15v60h30v-60S510,584.93,495,584.93Z"/>
      <%= character_part :hand, :left %>
      <polygon fill="#6d1700" points="480 539.93 480 569.93 480 599.93 510 599.93 510 569.93 510 539.93 480 539.93"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#ffd8c2" d="M315,584.93c-15,0-15,15-15,15v60h30v-60S330,584.93,315,584.93Z"/>
      <%= character_part :hand, :left %>
      <polygon fill="#6d1700" points="300 539.93 300 569.93 300 599.93 330 599.93 330 569.93 330 539.93 300 539.93"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <rect x="330" y="329.93" width="30" height="30"/>
      <rect x="450" y="329.93" width="30" height="30"/>
      <rect fill="#f9c5af" x="270" y="359.93" width="30" height="30"/>
      <rect fill="#f9c5af" x="510" y="359.93" width="30" height="30"/>
      <rect fill="#f9c5af" x="390" y="389.93" width="30" height="30"/>
      <rect fill="#fff" x="390" y="419.93" width="30" height="30"/>
      <polygon fill="#331201" points="450 209.93 420 209.93 420 179.93 390 179.93 360 179.93 330 179.93 300 179.93 300 209.93 270 209.93 270 239.93 300 239.93 300 269.93 300 299.93 300 329.93 330 329.93 330 299.93 330 269.93 330 239.93 360 239.93 390 239.93 420 239.93 450 239.93 480 239.93 480 209.93 450 209.93"/>
      <polygon fill="#331201" points="480 239.93 480 269.93 480 299.93 480 329.93 510 329.93 510 299.93 510 269.93 510 239.93 480 239.93"/>
      <polygon fill="#331201" points="390 449.93 360 449.93 360 479.93 390 479.93 420 479.93 450 479.93 450 449.93 420 449.93 390 449.93"/>
      <polygon fill="#ffd8c2" points="510 329.93 480 329.93 480 359.93 450 359.93 450 329.93 480 329.93 480 299.93 480 269.93 480 239.93 450 239.93 420 239.93 390 239.93 360 239.93 330 239.93 330 269.93 330 299.93 330 329.93 360 329.93 360 359.93 330 359.93 330 329.93 300 329.93 270 329.93 270 359.93 300 359.93 300 389.93 330 389.93 330 419.93 330 449.93 330 479.93 360 479.93 360 449.93 390 449.93 390 419.93 390 389.93 420 389.93 420 419.93 420 449.93 450 449.93 450 479.93 480 479.93 480 449.93 480 419.93 480 389.93 510 389.93 510 359.93 540 359.93 540 329.93 510 329.93"/>
    <%= character_part :head %>
  </svg>
</div>
