<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#d6a98a" d="M390,479.68s0-15,15-15,15,15,15,15v30H390Z"/>
    <rect fill="#f4c198" x="390" y="509.68" width="30" height="30"/>
    <path fill="#3f3700" d="M480,539.68v-30H420v30H390v-30H330v30s-14.4,0-14.4,15,14.4,15,14.4,15h30v60h90v-60h30s15,0,15-15S480,539.68,480,539.68Z"/>
    <polygon fill="#e5e3c1" points="420 629.68 390 629.68 360 629.68 360 659.68 390 659.68 420 659.68 450 659.68 450 629.68 420 629.68"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path fill="#e5e3c1" d="M435,735c-14.4,0-15,15-15,15v90h30V750S449.4,735,435,735Z"/>
        <polygon fill="#0f0000" points="450 870 450 840 420 840 420 870 420 900 450 900 480 900 480 870 450 870"/>
      <%= character_part :foot, :left %>
      <path fill="#e5e3c1" d="M435,644.68c-15,0-15,15-15,15v90s.6,15,15,15,15-15,15-15v-90S450,644.68,435,644.68Z"/>
    <%= character_part :leg, :left %>

     <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path fill="#e5e3c1" d="M375,735c-14.4,0-15,15-15,15v90h30V750S389.4,735,375,735Z"/>
        <polygon fill="#0f0000" points="360 840 360 870 330 870 330 900 360 900 390 900 390 870 390 840 360 840"/>
      <%= character_part :foot, :right %>
      <path fill="#e5e3c1" d="M375,644.68c-15,0-15,15-15,15v90s.6,15,15,15,15-15,15-15v-90S390,644.68,375,644.68Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#f4c198" d="M480,599.68s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#f4c198" x="480" y="629.68" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <rect fill="#3f3700" x="480" y="539.68" width="30" height="30"/>
      <rect fill="#f4c198" x="480" y="569.68" width="30" height="30"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#f4c198" d="M315,584.68c-15,0-15,15-15,15v60h30v-60S330,584.68,315,584.68Z"/>
      <%= character_part :hand, :left %>
      <rect fill="#3f3700" x="300" y="539.68" width="30" height="30"/>
      <rect fill="#f4c198" x="300" y="569.68" width="30" height="30"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <rect fill="#d6a98a" x="270" y="359.68" width="30" height="30"/>
      <rect fill="#d6a98a" x="510" y="359.68" width="30" height="30"/>
      <rect fill="#d6a98a" x="390" y="389.68" width="30" height="30"/>
      <rect fill="#fff" x="390" y="419.68" width="30" height="30"/>
      <polygon fill="#f4c198" points="510 329.68 480 329.68 480 359.68 450 359.68 450 329.68 480 329.68 480 299.68 480 269.68 450 269.68 450 239.68 420 239.68 390 239.68 360 239.68 360 269.68 330 269.68 330 299.68 330 329.68 360 329.68 360 359.68 330 359.68 330 329.68 300 329.68 270 329.68 270 359.68 300 359.68 300 389.68 330 389.68 360 389.68 360 419.68 360 449.68 390 449.68 390 419.68 390 389.68 420 389.68 420 419.68 420 449.68 450 449.68 450 419.68 450 389.68 480 389.68 510 389.68 510 359.68 540 359.68 540 329.68 510 329.68"/>
      <polygon points="480 239.68 480 209.68 450 209.68 420 209.68 390 209.68 360 209.68 330 209.68 330 239.68 300 239.68 300 269.68 300 299.68 300 329.68 330 329.68 330 299.68 330 269.68 360 269.68 360 239.68 390 239.68 420 239.68 450 239.68 450 269.68 480 269.68 480 299.68 480 329.68 510 329.68 510 299.68 510 269.68 510 239.68 480 239.68"/>
      <rect x="330" y="329.68" width="30" height="30"/>
      <rect x="450" y="329.68" width="30" height="30"/>
      <polygon points="450 419.68 450 449.68 420 449.68 390 449.68 360 449.68 360 419.68 360 389.68 330 389.68 330 419.68 330 449.68 330 479.68 360 479.68 390 479.68 420 479.68 450 479.68 480 479.68 480 449.68 480 419.68 480 389.68 450 389.68 450 419.68"/>
    <%= character_part :head %>
  </svg>
</div>
