<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <rect fill="#848383" x="360" y="510.1" width="30" height="30"/>
    <rect fill="#848383" x="420" y="510.1" width="30" height="30"/>
    <rect fill="#686868" x="360" y="480.1" width="30" height="30"/>
    <rect fill="#686868" x="420" y="480.1" width="30" height="30"/>
    <rect fill="#565656" x="360" y="540.1" width="30" height="30"/>
    <rect fill="#565656" x="420" y="540.1" width="30" height="30"/>
    <path fill="#686868" d="M480,540.1v-30H450v60h30s15,0,15-15S480,540.1,480,540.1Z"/>
    <path fill="#686868" d="M360,510.1H330v30s-15,0-15,15,15,15,15,15h30v-60Z"/>
    <polygon fill="#686868" points="420 540.1 420 510.1 390 510.1 390 540.1 390 570.1 360 570.1 360 600.1 360 630.1 390 630.1 420 630.1 450 630.1 450 600.1 450 570.1 420 570.1 420 540.1"/>
    <polygon points="420 630.1 390 630.1 360 630.1 360 660.1 390 660.1 420 660.1 450 660.1 450 630.1 420 630.1"/>
    <path fill="#775c46" d="M390,479.78s0-15,15-15,15,15,15,15v30H390Z"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path d="M435,764.76c-14.4,0-15,15-15,15v60h30v-60S449.4,764.76,435,764.76Z"/>
        <polygon fill="#ffad69" points="450 869.76 450 839.76 420 839.76 420 869.76 420 899.76 450 899.76 480 899.76 480 869.76 450 869.76"/>
      <%= character_part :foot, :left %>
      <path d="M435,645.1c-14.4,0-15,15-15,15V779.76s.6,15,15,15,15-15,15-15V660.1S449.4,645.1,435,645.1Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path d="M375,764.76c-14.4,0-15,15-15,15v60h30v-60S389.4,764.76,375,764.76Z"/>
        <polygon fill="#ffad69" points="360 839.76 360 869.76 330 869.76 330 899.76 360 899.76 390 899.76 390 869.76 390 839.76 360 839.76"/>
      <%= character_part :foot, :right %>
      <path d="M375,645.1c-14.4,0-15,15-15,15V779.76s.6,15,15,15,15-15,15-15V660.1S389.4,645.1,375,645.1Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#686868" d="M480,599.78s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#ffe3c5" x="480" y="630.1" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#686868" points="480 540.1 480 570.1 480 600.1 510 600.1 510 570.1 510 540.1 480 540.1"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#686868" d="M300,599.78s0-15,15-15,15,15,15,15v30H300Z"/>
        <rect fill="#ffe3c5" x="300" y="630.1" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#686868" points="300 540.1 300 570.1 300 600.1 330 600.1 330 570.1 330 540.1 300 540.1"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <polygon fill="#d18654" points="390 180.1 390 210.1 390 240.1 420 240.1 420 210.1 420 180.1 390 180.1"/>
      <rect fill="#894613" x="360" y="180.1" width="30" height="30"/>
      <polygon fill="#894613" points="420 180.1 420 210.1 420 240.1 450 240.1 450 210.1 450 180.1 420 180.1"/>
      <rect fill="#492002" x="300" y="240.1" width="30" height="30"/>
      <rect fill="#492002" x="420" y="240.1" width="30" height="30"/>
      <rect fill="#492002" x="300" y="270.1" width="30" height="30"/>
      <rect fill="#492002" x="450" y="270.1" width="30" height="30"/>
      <rect fill="#492002" x="480" y="270.1" width="30" height="30"/>
      <rect fill="#492002" x="300" y="300.1" width="30" height="30"/>
      <rect fill="#492002" x="480" y="300.1" width="30" height="30"/>
      <rect x="330" y="330.1" width="30" height="30"/>
      <rect x="450" y="330.1" width="30" height="30"/>
      <rect fill="#775c46" x="390" y="390.1" width="30" height="30"/>
      <rect fill="#fff" x="390" y="420.1" width="30" height="30"/>
      <rect fill="#ffe3c5" x="300" y="330.1" width="30" height="30"/>
      <path fill="#ffe3c5" d="M450,330.1h30v-30H450v-30H420v-30H360v30H330v60h30v30H330v90h30v30h90v-30h30v-90H450Zm-60,120v-60h30v60Z"/>
      <rect fill="#ffe3c5" x="480" y="330.1" width="30" height="30"/>
      <polygon fill="#602b00" points="330 210.1 330 240.1 330 270.1 360 270.1 360 240.1 390 240.1 390 210.1 360 210.1 330 210.1"/>
      <polygon fill="#602b00" points="510 270.1 510 240.1 510 210.1 480 210.1 480 180.1 450 180.1 450 210.1 450 240.1 450 270.1 480 270.1 510 270.1"/>
      <polygon fill="#602b00" points="330 420.1 330 390.1 330 360.1 300 360.1 300 390.1 300 420.1 300 450.1 300 480.1 300 510.1 330 510.1 330 480.1 360 480.1 360 450.1 330 450.1 330 420.1"/>
      <polygon fill="#602b00" points="510 420.1 510 390.1 510 360.1 480 360.1 480 390.1 480 420.1 480 450.1 450 450.1 450 480.1 450 510.1 480 510.1 480 480.1 510 480.1 510 450.1 510 420.1"/>
      <rect fill="#602b00" x="510" y="480.1" width="30" height="30"/>
      <rect fill="#893b00" x="330" y="480.1" width="30" height="30"/>
      <polygon fill="#893b00" points="270 510.1 270 540.1 270 570.1 300 570.1 300 540.1 330 540.1 330 510.1 300 510.1 270 510.1"/>
      <polygon fill="#893b00" points="510 510.1 510 480.1 480 480.1 480 510.1 480 540.1 510 540.1 510 570.1 540 570.1 540 540.1 540 510.1 510 510.1"/>
    <%= character_part :head %>
  </svg>
</div>
