<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#f9b08c" d="M390,600.89s0-15.06,15-15.06,15,15.06,15,15.06v30H390Z"/>
    <path d="M480,660.86v-30H420v30H390v-30H330v30s-15,0-15,15,15,15,15,15h30v60h90v-60h30s15,0,15-15S480,660.86,480,660.86Z"/>
    <polygon fill="#b7b7b7" points="420 750.86 390 750.86 360 750.86 360 780.86 390 780.86 420 780.86 450 780.86 450 750.86 420 750.86"/>
    <rect fill="#ffd8c2" x="390" y="630.86" width="30" height="30"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path fill="#b7b7b7" d="M420,810.37s0-15,15-15,15,15,15,15v30s0,15.45-15,15.45-15-15.45-15-15.45Z"/>
        <polygon points="450 869.14 450 839.14 420 839.14 420 869.14 420 899.14 450 899.14 480 899.14 480 869.14 450 869.14"/>
      <%= character_part :foot, :left %>
      <path fill="#b7b7b7" d="M420,780.86s0-15,15-15,15,15,15,15v30s0,15.45-15,15.45-15-15.45-15-15.45Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path fill="#b7b7b7" d="M360,809.14s0-15,15-15,15,15,15,15v30s0,15-15,15-15-15-15-15Z"/>
        <polygon points="360 839.14 360 869.14 330 869.14 330 899.14 360 899.14 390 899.14 390 869.14 390 839.14 360 839.14"/>
      <%= character_part :foot, :right %>
      <path fill="#b7b7b7" d="M360,780.86s0-15,15-15,15,15,15,15v30s0,15-15,15-15-15-15-15Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path d="M480,720.86s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#ffd8c2" x="480" y="750.86" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon points="480 660.86 480 690.86 480 720.86 510 720.86 510 690.86 510 660.86 480 660.86"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path d="M300,720.86s0-15,15-15,15,15,15,15v30H300Z"/>
        <rect fill="#ffd8c2" x="300" y="750.86" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon points="300 660.86 300 690.86 300 720.86 330 720.86 330 690.86 330 660.86 300 660.86"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <rect fill="#726738" x="420" y="360.86" width="30" height="30"/>
      <rect fill="#726738" x="360" y="360.86" width="30" height="30"/>
      <rect fill="#726738" x="390" y="330.86" width="30" height="30"/>
      <rect fill="#726738" x="330" y="330.86" width="30" height="30"/>
      <rect fill="#a3934f" x="450" y="360.86" width="30" height="30"/>
      <rect fill="#a3934f" x="390" y="360.86" width="30" height="30"/>
      <rect fill="#a3934f" x="330" y="360.86" width="30" height="30"/>
      <rect fill="#a3934f" x="420" y="330.86" width="30" height="30"/>
      <rect fill="#a3934f" x="360" y="330.86" width="30" height="30"/>
      <polygon fill="#a3934f" points="480 390.86 480 420.86 480 450.86 510 450.86 510 420.86 510 390.86 480 390.86"/>
      <polygon fill="#a3934f" points="300 420.86 300 450.86 330 450.86 330 420.86 330 390.86 300 390.86 300 420.86"/>
      <rect x="450" y="450.86" width="30" height="30"/>
      <rect x="330" y="450.86" width="30" height="30"/>
      <rect fill="#f9b08c" x="510" y="480.86" width="30" height="30"/>
      <rect fill="#f9b08c" x="390" y="510.86" width="30" height="30"/>
      <rect fill="#f9b08c" x="270" y="480.86" width="30" height="30"/>
      <rect fill="#fff" x="390" y="540.86" width="30" height="30"/>
      <path fill="#ffd8c2" d="M510,450.86H480v30H450v-30h30v-60H330v60h30v30H330v-30H270v30h30v30h30v90H480v-90h30v-30h30v-30Zm-120,120v-60h30v60Z"/>
    <%= character_part :head %>
  </svg>
</div>
