<div class="character">
  <svg class="character__effigy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 810 900">
    <path fill="#d6b7a7" d="M390,549.52s0-15.06,15-15.06,15,15.06,15,15.06v30H390Z"/>
    <polygon fill="#700b00" points="360 579.49 360 609.49 360 639.49 360 669.49 390 669.49 390 639.49 390 609.49 390 579.49 390 549.49 360 549.49 360 579.49"/>
    <polygon fill="#700b00" points="420 549.49 420 579.49 420 609.49 420 639.49 420 669.49 450 669.49 450 639.49 450 609.49 450 579.49 450 549.49 420 549.49"/>
    <path fill="#d6d6d6" d="M360,609.49v-30H330v30s-15,0-15,15,15,15,15,15h30Z"/>
    <path fill="#d6d6d6" d="M480,609.49v-30H450v60h30s15,0,15-15S480,609.49,480,609.49Z"/>
    <rect fill="#d6d6d6" x="360" y="669.49" width="30" height="30"/>
    <rect fill="#d6d6d6" x="420" y="669.49" width="30" height="30"/>
    <polygon points="480 759.43 480 729.43 450 729.43 450 699.49 420 699.49 420 669.49 420 639.49 420 609.49 420 579.49 390 579.49 390 609.49 390 639.49 390 669.49 390 699.49 360 699.49 360 729.43 330 729.43 330 759.4 300 759.4 300 789.4 330 789.4 360 789.4 360 789.43 390 789.43 420 789.43 450 789.43 480 789.43 510 789.43 510 759.43 480 759.43"/>

    <%= character_part :leg, :left, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :left, [:swimming] %>
        <path d="M450,879.49v-90s-.6-15-15-15-15,15-15,15v120h60v-30Z"/>
      <%= character_part :foot, :left %>
      <path d="M435,714.49c-14.4,0-15,15-15,15v60s.6,15,15,15,15-15,15-15v-60S449.4,714.49,435,714.49Z"/>
    <%= character_part :leg, :left %>

    <%= character_part :leg, :right, [:flexibility, :swimming, :displacement, :chilling] %>
      <%= character_part :foot, :right, [:swimming] %>
        <path d="M375,774.49c-14.4,0-15,15-15,15v90H330v30h60v-120S389.4,774.49,375,774.49Z"/>
      <%= character_part :foot, :right %>
      <path d="M375,714.49c-14.4,0-15,15-15,15v60s.6,15,15,15,15-15,15-15v-60S389.4,714.49,375,714.49Z"/>
    <%= character_part :leg, :right %>

    <%= character_part :arm, :left, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#d6d6d6" d="M480,669.49s0-15,15-15,15,15,15,15v30H480Z"/>
        <rect fill="#ffe1d2" x="480" y="699.49" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#d6d6d6" points="480 609.49 480 639.49 480 669.49 510 669.49 510 639.49 510 609.49 480 609.49"/>
    <%= character_part :arm, :left %>

    <%= character_part :arm, :right, [:swimming, :chilling] %>
      <%= character_part :hand, :left, [:swimming] %>
        <path fill="#d6d6d6" d="M300,669.49s0-15,15-15,15,15,15,15v30H300Z"/>
        <rect fill="#ffe1d2" x="300" y="699.49" width="30" height="30"/>
      <%= character_part :hand, :left %>
      <polygon fill="#d6d6d6" points="300 609.49 300 639.49 300 669.49 330 669.49 330 639.49 330 609.49 300 609.49"/>
    <%= character_part :arm, :right %>

    <%= character_part :head, [:chilling] %>
      <polygon fill="#c1ad8a" points="300 459.49 270 459.49 270 489.49 300 489.49 330 489.49 330 459.49 300 459.49"/>
      <rect fill="#eddbbc" x="420" y="279.49" width="30" height="30"/>
      <polygon fill="#eddbbc" points="390 249.49 360 249.49 360 279.49 390 279.49 420 279.49 420 249.49 390 249.49"/>
      <rect fill="#eddbbc" x="450" y="309.49" width="30" height="30"/>
      <rect x="330" y="399.49" width="30" height="30"/>
      <rect x="450" y="399.49" width="30" height="30"/>
      <rect fill="#f9b08c" x="270" y="429.49" width="30" height="30"/>
      <rect fill="#f9b08c" x="510" y="429.49" width="30" height="30"/>
      <polygon fill="#e5d0a3" points="390 279.49 360 279.49 330 279.49 330 309.49 360 309.49 390 309.49 420 309.49 420 279.49 390 279.49"/>
      <polygon fill="#e5d0a3" points="270 489.49 270 519.49 300 519.49 330 519.49 330 489.49 300 489.49 270 489.49"/>
      <rect fill="#e5d0a3" x="420" y="249.49" width="30" height="30"/>
      <rect fill="#e5d0a3" x="450" y="279.49" width="30" height="30"/>
      <rect fill="#e5d0a3" x="420" y="309.49" width="30" height="30"/>
      <polygon fill="#e5d0a3" points="300 339.49 300 369.49 300 399.49 330 399.49 330 369.49 330 339.49 330 309.49 300 309.49 300 339.49"/>
      <polygon fill="#e5d0a3" points="480 309.49 480 339.49 450 339.49 450 369.49 480 369.49 480 399.49 480 429.49 480 459.49 480 489.49 480 519.49 510 519.49 510 489.49 510 459.49 510 429.49 510 399.49 510 369.49 510 339.49 510 309.49 480 309.49"/>
      <rect fill="#f9b08c" x="390" y="459.49" width="30" height="30"/>
      <rect fill="#fff" x="390" y="489.49" width="30" height="30"/>
      <path fill="#ffe1d2" d="M450,339.49H420v-30H330v90h30v30H330v-30H270v30h30v30h30v90H480v-120H450v-30h30v-30H450Zm-60,180v-60h30v60Z"/>
      <rect fill="#ffe1d2" x="510" y="399.49" width="30" height="30"/>
    <%= character_part :head %>
  </svg>
</div>
