<%= embed_data :characters %>
<%= embed_data :genders %>
<%= embed_data :geographic_zones %>
<%= embed_data :specialities %>
<%= embed_data :zone_types %>

<%= templates %>

<main class="machine">
  <div class="machine__extra machine__extra--left"></div>

  <div class="machine__main">
    <div class="machine__head">
      <div class="machine__head-top"></div>

      <div class="machine__head-front">
        <section class="machine__controls">
          <div class="machine__monitor machine__monitor--big">
            2100
          </div>

          <div class="button button--circle">
            <i class="icon icon--block icon--character"></i>
          </div>

          <div class="machine__skills">
            <% 4.times do |i| %>
              <div class="machine__monitor machine__monitor--small">
                <div class="selector">
                  <div class="selector__wrapper">
                    <% data.skills.each.with_index do |(value, label), j| %>
                      <div class="selector__item<%= ' selector__item--selected' if i == j %>" data-value="<%= value %>"><%= label %></div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <div class="button button--circle">
            <i class="icon icon--block icon--storm"></i>
          </div>

          <div class="machine__monitor machine__monitor--big">
            <div class="selector selector--big">
              <div class="selector__wrapper">
                <% data.events.each.with_index do |(value, label), n| %>
                  <div class="selector__item<%= ' selector__item--selected' if n.zero? %>" data-value="<%= value %>"><%= label %></div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="button button--ovoid">Start</div>
        </section>
      </div>

      <div class="machine__head-bottom">
        <div class="machine__bolt"></div>
        <div class="machine__bolt"></div>
        <div class="machine__bolt"></div>
        <div class="machine__bolt"></div>
        <div class="machine__bolt"></div>
      </div>
    </div>

    <div class="machine__body">
      <div class="machine__body-top"></div>
      <div class="machine__body-front">
        <section class="machine__pane">
          <div class="characters"></div>
        </section>
      </div>
    </div>
  </div>

  <div class="machine__extra machine__extra--right"></div>
  <div class="machine__extra machine__extra--bottom"></div>
</main>

<%= javascript_include_tag :application %>

<script>
  Application.initialize(function() {
    this.Characters.current.add(...this.Model.Character.all);
    this.Model.Character.render();
  });
</script>
